body {
    background-image: url("https://e0.pxfuel.com/wallpapers/3/526/desktop-wallpaper-trust-trust-me.jpg");
    font-family: sans-serif;
    display: flex;
    flex-direction: column; /* Added to stack elements vertically */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-repeat: no-repeat;
  }

   input, button {
    display: block;
    margin-bottom: 10px;
    padding: 10px 15px;
    border: none;
    background-color: #ce5b5b;
    font-size: 25px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 5px #549299,
    inset -2px -2px -5px #b5cbcd;

  }
  form{
    margin-top: 25px; /* Push the form to the bottom */
    margin-left: 100px; /* Push the form to the right */
  }
  label{
    display: block;
    margin-bottom: 10px;
    padding: 10px 15px;
    border: none;

    font-size: 25px;
  }

  input:focus{
    outline: none;
  }


  button {
    background-color: #666567;
    cursor: pointer;
  }

  h1 {
    text-align: center;
    margin-top: 25px; /* Push the form to the bottom */
    margin-left: 200px; /* Push the form to the right */
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 15px;
  }
  button:hover{
    background-color: rgb(92, 91, 87);
  }
  