<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suspicious Transaction Complaint website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='loginstyle.css') }}">
</head>
<body>
    <header>
        <h1 id="title">Swift Pay</h1>
        <nav>
            <a href="#">Home</a>
            <a href="{{ url_for('activity') }}">Activities</a>
            <a href="{{ url_for('complaintform') }}">Complaint</a>
            <a href="{{ url_for('activity') }}">Payment</a>
              <a href="{{ url_for('activity') }}">Contact</a>
           <a href="{{ url_for('trust_score_start') }}">TrustScore</a>
            <a href="{{ url_for('double_verification') }}">Verification</a>

        </nav>
    </header>

    <div class="image">
        <h1 id="main-head">Swift Pay</h1>
        <h5 id="sub-head">Where finance meets security</h5>
        <div class="word">
          <p class="bold-paragraph">Empower your </p>
          <p class="bold-paragraph">financial peace </p>
          <p class="bold-paragraph">with our help</p>
        </div>
                <div class="chatbox" id="chatbox">
                    <div class="chatbox__support">
                        <div class="chatbox__header">
                            <div class="chatbox__image--header">
                                <img src="{{ url_for('static', filename='images/girl_5148736.png') }}" alt="image">
                            </div>
                            <div class="chatbox__content--header">
                                <p class="chatbox__description--header">  Hello ! My name is Rita. How can I help you?</p>
                            </div>
                        </div>
                        <div class="chatbox__messages">

                        </div>
                        <div class="chatbox__footer">
                            <input type="text" placeholder="ask a question...">
                            <button class="chatbox_send--footer send__button">Send</button>
                        </div>
                    </div>
                    <div class="chatbox__button" onclick="toggleChatbox()">
                        <button>got questions ?</button>
                    </div>
             </div>
        </div>
    <a href="{{ url_for('contact') }}">Contact Us</a>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <script>
        function toggleChatbox() {
            var chatbox = document.getElementById('chatbox');
            chatbox.classList('chatbox--active');
        }
    document.addEventListener("DOMContentLoaded", function () {
        OverlayScrollbars(document.body, { });
    });
    </script>


</body>
</html>
