<!-- trustscore.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trust Score</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
</head>
<body>

    <h1>Enter Phone number to find the trust score</h1>
    <form action="/trust_score_start" method="POST">
        <label for="mobile_number">Enter Phone number:</label>
        <input type="number" id="mobile_number" name="mobile_number" required>
        <button type="submit" >Submit</button>
    </form>

</body>


</html>
